<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title> Info de Actividad - Actividades recreativas </title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <button type="button" class="submit-btn" id="btn-back">Volver al inicio</button>
    <button type="button" class="submit-btn" id="btn-list">Volver al listado</button>
    {% block content %}
    <div class="main-container">
        <h1> Información de la Actividad</h1>
        <div id="image-box" class="image-box" style="display: none;">
            <img id="image-elem" src="{{ url_for('static', filename='img/placeholder.jpg') }}" alt="Imagen ampliada" width="800" height="600">
            <button id="close-box" class="submit-btn-form">Cerrar</button>
        </div> 
    </div>

    <div class="table-container" id="info-box">
        <!-- Tabla 1-->
        <h2>¿Dónde se realiza la actividad?</h2>
        <table>
            <colgroup>
                <col style="width: 15%; background-color: #87868871;">
                <col>
            </colgroup>
            <tr> 
                <td><strong>Región</strong></td>
                <td>{{ act.region }}</td>
            </tr>
            <tr> 
                <td><strong>Comuna</strong></td>
                <td>{{ act.comuna }}</td>
            </tr>
            <tr> 
                <td><strong>Sector</strong></td>
                <td>{{ act.sector }}</td>
            </tr>
        </table>

        <!-- Tabla 2-->
        <h2>¿Quién organiza la actividad?</h2>
        <table>
            <colgroup>
                <col style="width: 15%; background-color: #87868871;">
                <col>
            </colgroup>
            <tr> 
                <td><strong>Nombre</strong></td>
                <td>{{ act.organizador }}</td>
            </tr>
            <tr> 
                <td><strong>Contacto</strong></td>
                <td>{{ act.contacto }}</td>
            </tr>
        </table>

        <!-- Tabla 3-->
        <h2>¿Cuándo y de qué trata?</h2>
        <table>
            <colgroup>
                <col style="width: 15%; background-color: #87868871;">
                <col>
            </colgroup>
            <tr> 
                <td><strong>Inicio</strong></td>
                <td>{{ act.inicio }}</td>
            </tr>
            <tr> 
                <td><strong>Término</strong></td>
                <td>{{ act.termino }}</td>
            </tr>
            <tr> 
                <td><strong>Tema</strong></td>
                <td>{{ act.tema }}</td>
            </tr>
            <tr> 
                <td><strong>Descripción</strong></td>
                <td>{{ act.descripcion }} </td>
            </tr>
            <tr> 
                <td style="height: 150px;"><strong>Fotos</strong></td>
                <td> 
                    {% foto in fotos %}
                    <div class="image-wrapper">
                        <img src="{{ foto.img }}" alt="Foto actividad" width="320" height="240"> <br>
                        <button onclick="expandImage(this)">Expandir</button>
                    </div>
                    {% endfor%}
                </td>    
            </tr>
        </table>
    </div>
    {% endblock %}
    {% block javascript %}
        <script lang="javascript" src="{{ url_for('static', filename='js/info-act.js') }}"></script>
    {% endblock %}
</body>

</html>