:root {
    --black-color: #000022;
    --background-color: #e8e6f071;
    --purple-color: #de8efb;
    --purple-hover-color: #a064b5;
    --gray-color:  #87868871;
    --gray-hover-color: #e1bfee;
}

body {
    /*margin: 0; */
    background-color: var(--background-color);
    width: 90%; 
    margin: 20px auto; 
    font-family: "Source Code Pro", monospace;
}

/* CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
    margin: 0;
}


/* BUTTON */
.button-container {
    display: flex;
    justify-content: center; 
    gap: 15px; 
}

.submit-btn {
    background-color: var(--purple-color);
    text-align: center;
    padding: 1.2em;
    border: .2em solid var(--black-color);
    border-radius: 1.5em;
    font-weight: 600;
    font-size: 1.2rem; 
    font-family: "Source Code Pro", monospace;
}

.submit-btn:hover {
    background-color: var(--purple-hover-color);
    transition: 0.2s ease;
}

/* TABLE */

.table-container{
    display: flex;
    flex-direction: column;
    justify-content: left; 
    text-align: left;
    margin: 0;
    font-size: 1.2rem; 
}

.table-container > * {
    font-family: "Source Code Pro", monospace;
}

table {
    border: 2px solid black;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1.2rem
}

th, td {
    border: 2px solid black; 
    padding: 10px; 
}

th{
    background-color: var(--gray-color);
}


tr.clickable:hover {
    background-color: var(--gray-hover-color);
    transition: 0.2s ease;
}

/* STATS */

.stats-column {
    column-count:3;
    column-gap:10px;
    column-rule:none;
    list-style: none; 
}

.stats-container{
    background-color: var(--gray-color);
    border-radius: 10px;
    width: 400px;  
    height: 300px; 
}

/* FORMS */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 5px 20px 5px 20px;
    background-color: var(--gray-color);
    border-radius: 10px;
    margin: 20px auto 30px; 
    width: 75%;

}
 

.form-row {
    width: 100%;
    display: flex;
    align-items: left;    
}

.form-row label{
    width: 60px;   
    margin-right: 30px;
    font-size: 20px;
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    color: #333;
}

.form-column {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.form-option input{
    width: 60%;
    padding: 8px;
    margin-left: 90px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    color: #333;
}

.submit-btn-form{
    margin-left: 10px;
    border-radius: 10px;
    border: .1em solid var(--black-color);
    width: 12%;
    height: 40px;
}

.info-line {
    display: flex;
    align-items: left;  
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8px;
  }

.small-text {
    font-size: 1.5rem; 
}

h1 {
    
    font-size: 3rem;

}
h2 {
    margin-bottom: 5px;
    margin-top: 5px; 
    font-size: 2.5rem;
}

label{
    font-size: 1.5rem;
}

